apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  nginx.conf: |
    user nginx;
    worker_processes  1;
    events {
      worker_connections  10240;
    }
    http {
      server {
          listen       80;
          server_name  localhost;
          location / {
            auth_basic           "Password only access!";
            auth_basic_user_file /etc/nginx/htpasswd/user1;
            root   /usr/share/nginx/html;
            index  index.html index.htm;
        }
      }
    }